@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
 body {
     background-color:#FEFAE0;
     font-family: 'Inconsolata', monospace;
     margin:0;
}
 .kulepunkter {
     width: 60vw;
     padding-left: 3%;
}
/*Fikser posisjon til flexbokser*/
 .container-accessibility {
     display: flex;
     flex-direction: column;
     padding-left: 25%;
     line-height: 150%;
}
/*Fikser størrelse og posisjon på tekst*/
 p {
     width: 60vw;
}
 .underoverskrift-accessibility{
     font-size: 40px;
     font-weight: bold;
     padding-bottom: 10px;
     padding-top: 25px;
     color: #2e3c1e;
}
/*Fikser bildes størrelse og posisjon*/
 .bilde-accessibility{
    height: 30vw;
    padding-top: 1%;
    padding-left: 25%;
    padding-bottom: 2vw;
}
/*Linker styling*/
a:link{
    color: #283618;
}
a:visited{
    color: #283618;
}
a:hover{
    color: #bc6c25;
}

/*Responsivitet*/
 @media only screen and (max-width: 900px){
     .container-accessibility {
         display: flex;
         flex-direction: column;
         padding-left: 10%;
    }
     p {
         width: 80vw;
    }
     .bilde-accessibility{
        width: 90vw;
        height: auto;
        padding-left: 10%;
        padding-bottom: 5vw;
    }
     .kulepunkter {
         padding-left: 6%;
         box-sizing: content-box;
    }
}