@import url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
	font-size: 25px;
	font: Raleway;
	letter-spacing: 2px;
	font-weight: 600;
}

html {
  background-color: #37474f;
}

.search-field, select, button {
	color: #ECEFF1;
	padding: 14px;
	border: 3px solid #ECEFF1;
	background-color: #37474f;
	outline: none;
	border-radius: 0;
}

input {
  color: #ECEFF1;
  background-color: #37474f;
  outline: none;
  border: none;
}

button:hover {
	background-color: #ECEFF1;
	color: #37474f;
}

select, button {
  cursor: pointer;
}

select {
	-webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}


input {
  width: 400px;
}

.container {
	width: 960px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1px;
	border-radius: 5px;
}

.search-field > *, .search-category > *, .search-btn > * {
	padding: 15px;
}

.container > * {
	display: inline-block;
	padding: 0 15px;
}

.search-category:after {
  content: "";
  pointer-events: none;
  position: absolute;
  right: 270px;
  margin-top: -3px;
  top: 52%;
  width: 6px;
  height: 6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #ECEFF1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ECEFF1;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ECEFF1;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: 	#ECEFF1;
}

input:focus::-webkit-input-placeholder { 
  color:transparent; 
}
input:focus:-moz-placeholder { 
  color:transparent; 
} /* FF 4-18 */
input:focus::-moz-placeholder { 
  color:transparent;
} /* FF 19+ */
input:focus:-ms-input-placeholder { 
  color:transparent; 
} /* IE 10+ */

